In [1]:
import pandas as pd

/tmp/ipykernel_99860/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
data = pd.read_csv("./data/whonet/Breakpoints.txt", delimiter="\t")

/tmp/ipykernel_99860/3583904085.py:1: DtypeWarning: Columns (15,18,21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/whonet/Breakpoints.txt", delimiter="\t")

In [5]:
data.head()

,GUIDELINES,YEAR,TEST_METHOD,POTENCY,ORGANISM_CODE,ORGANISM_CODE_TYPE,BREAKPOINT_TYPE,HOST,SITE_OF_INFECTION,REFERENCE_TABLE,...,WHONET_TEST,R,I,SDD,S,ECV_ECOFF,ECV_ECOFF_TENTATIVE,DATE_ENTERED,DATE_MODIFIED,COMMENTS
0,CLSI,2012,MIC,NaN,BCS,GENUS_CODE,Human,Human,NaN,M45 Table 3,...,AMK_NM,64.0,NaN,NaN,16.0,NaN,NaN,2021-01-01,NaN,NaN
1,CLSI,2012,MIC,NaN,PLE,GENUS_CODE,Human,Human,NaN,M45 Table 2,...,AMK_NM,64.0,NaN,NaN,16.0,NaN,NaN,2021-01-01,NaN,NaN
2,CLSI,2012,MIC,NaN,AC-,GENUS_CODE,Human,Human,NaN,Table 2B-2,...,AMK_NM,64.0,NaN,NaN,16.0,NaN,NaN,2021-01-01,NaN,NaN
3,CLSI,2012,MIC,NaN,NFR,GENUS_GROUP,Human,Human,NaN,Table 2B-5,...,AMK_NM,64.0,NaN,NaN,16.0,NaN,NaN,2021-01-01,NaN,NaN
4,CLSI,2012,MIC,NaN,pae,WHONET_ORG_CODE,Human,Human,NaN,Table 2B-1,...,AMK_NM,64.0,NaN,NaN,16.0,NaN,NaN,2021-01-01,NaN,NaN

In [15]:
unique_values = data[['GUIDELINES', 'YEAR']].drop_duplicates().sort_values(by=['GUIDELINES', 'YEAR']).reset_index(drop=True)
unique_values

   GUIDELINES  YEAR
0         AFA  2000
1        BSAC  2000
2        CLSI  2011
3        CLSI  2012
4        CLSI  2013
5        CLSI  2014
6        CLSI  2015
7        CLSI  2016
8        CLSI  2017
9        CLSI  2018
10       CLSI  2019
11       CLSI  2020
12       CLSI  2021
13       CLSI  2022
14       CLSI  2023
15       CLSI  2024
16        DIN  2004
17     EUCAST  2011
18     EUCAST  2012
19     EUCAST  2013
20     EUCAST  2014
21     EUCAST  2015
22     EUCAST  2016
23     EUCAST  2017
24     EUCAST  2018
25     EUCAST  2019
26     EUCAST  2020
27     EUCAST  2021
28     EUCAST  2022
29     EUCAST  2023
30     EUCAST  2024
31        NEO  1998
32        NEO  2013
33        NEO  2016
34        SFM  2007
35        SFM  2020
36       SRGA  1998

In [17]:
data['GUIDELINES'].unique()

array(['CLSI', 'EUCAST', 'BSAC', 'DIN', 'NEO', 'SFM', 'SRGA', 'AFA'],
      dtype=object)